.autocomplete {
	display: inline-block;
	position: relative;

	// TODO move to Location
	text-shadow: none;

	&__input:not(:focus) + &__suggestions {
		display: none;
	}
	//
	// &:active > &__suggestions {
	// 	display: block;
	// }

	&__suggestions {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;

		&:hover {
			display: block !important;
		}
	}
}

.suggestions {
	list-style: none;
	padding-left: 0;
	background-color: rgb(235,225,217);
	white-space: nowrap;
	overflow: auto;
	max-height: 10em;

	&__item {
		text-overflow: ellipsis;

		/* width: 100%; */
		overflow: hidden;
		cursor: pointer;

		&--selected, &:hover {
			// color: white;
			background-color: #D6D6D6;
		}
	}
}
