$suggestions-bcolor: white !default;
$suggestions-selected-bcolor: #D6D6D6 !default;

.autocomplete {
	display: inline-block;
	position: relative;
	text-align: left;

	&__input {
		font: inherit;
	}

	&__input:not(:focus) + &__suggestions {
		display: none;
	}

	&__suggestions {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 999;

		&:hover {
			display: block !important;
		}
	}
}

.suggestions {
	list-style: none;
	padding-left: 0;
	background-color: $suggestions-bcolor;
	white-space: nowrap;
	overflow: auto;
	max-height: 10em;

	&__item {
		text-overflow: ellipsis;
		overflow: hidden;
		cursor: pointer;

		&--selected, &:hover {
			background-color: $suggestions-selected-bcolor;
		}
	}
}
