.conditions {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 20px;
	list-style: none;
	font-size: 2em;
	text-transform: uppercase;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $item-color;
		min-width: 6em;
		margin: 2%;

		> * {
			margin: 5px;
		}

		> img {
			height: 4em;
			width: 4em;
			transform: scale(0.99);
			animation: 1s dropShadow 1 forwards;
		}

		.title {
			font: bold 0.7em monospace;
		}
	}
}

@keyframes dropShadow {
	to {
		filter: drop-shadow(5px 3px 3px gray);
		transform: none;
	}
}

.reading {
	align-self: flex-start;
	margin-left: 0.3em;

	&__icon {
		display: inline-block;
		vertical-align: middle;
		width: 2.5em;
		filter: drop-shadow(3px 3px 2px gray);
	}

	&__value {
		font-size: 1.2em;
		font-family: monospace;
		white-space: pre-wrap;
		display: inline-block;
	}
}
