extends ./layout.pug

block head
	link(href='https://fonts.googleapis.com/css?family=Reenie+Beanie', rel='stylesheet')

block content
	.content
		.central-pane.glass-frame.pinned
			+appMount(class="app-wrapper")
